@media only screen and (max-width: 800px) {
  .home-page {
    font-size: 3.5rem !important;
    line-height: 4.2rem !important;
  }
  .home-page-footer {
    margin-bottom: 4.5rem !important;
  }
}

.home-page-container {
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page-header {
  height: 50px;
  display: flex;
  align-items: center;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 5.5rem;
  font-weight: 700;
  position: relative;
  line-height: 100px;
}

.home-page > div > span {
  display: inline-block;
  transform: rotate(-20deg);
}

.home-page > div > span:hover {
  transform: rotate(20deg);
}

.home-page-footer {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
