.skill-container {
  color: white;
  display: flex;
  justify-content: space-between;
}

.skill-header {
  font-size: 5.5rem;
}

.skill-left {
  opacity: 0.6;
  color: white;
  width: 40%;
}

.skill-right {
  width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.skill-right > p {
  margin-top: 50px;
}
