.app-section {
  min-height: 100vh !important;
  padding: 0 25px;
  margin-bottom: 50px;
}

.app-section-contact {
  min-height: 100vh !important;
  padding: 0 25px;
  margin-bottom: 0px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  width: 120px;
  justify-content: center;
  font-weight: 500;
}

.btn-back-to-top > svg {
  font-size: 1.2rem;
}
